<div class="float-right p-2">
    <button (click)="getNewInsults()">
        <span class="material-icons">autorenew</span>
    </button>
</div>

<div class="d-flex flex-row h-25 w-100">
    <div class="col-6 p-2 h-100">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Shakespeare Insult</h5>
                <p class="card-text">{{currentShakespeareInsult}}</p>
            </div>
        </div>
    </div>

    <div class="col-6 p-2 h-100">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Son Of Insult</h5>
                <p class="card-text">{{currentSonOfInsult}}</p>
            </div>
        </div>
    </div>
</div>

<div class="d-flex flex-row h-25 w-100">
    <div class="col-6 p-2 h-100">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Go Insult</h5>
                <p class="card-text">{{currentGoInsult}}</p>
            </div>
        </div>
    </div>

    <div class="col-6 p-2 h-100">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Random Insult</h5>
                <p class="card-text">{{randomInsult}}</p>
            </div>
        </div>
    </div>
</div>